[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    z-index: 1;
    content: attr(data-tooltip);
    border: 1px solid black;
    border-radius: 5px;
    background: #eee;
    padding: .25em;
    color: black;
}

body{
    background-color: #cfe2ff!important;
}

form > .card-body{
    background-color: #052c65!important;
}